<h1>Say hello to my furry friend!</h1>
<form action="/dogs" method="post">
<label for="name">Name</label>
<input type="text" name="name" value=""/>
<div>
<label for="breed">Breed</label>
<input type="text" name="breed" value=""/>
<input type="submit" value="WOOF!"/>
</form> 